<!-- Footer -->
<footer class="page-footer font-small blue navbar sticky-bottom d-flex justify-content-center">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">
  	<%= link_to "Nossa Política de Privacidade", privacy_policy_path %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->