<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Preencha seus dados corretamente</h2>
          <%= render 'form', lead: @lead %>
        </div>
      </div>
    </div>
  </div>
</div>