<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Conteúdo Extra</h2>
          <ul class="card-text">
      <li><%= link_to "Como cadastrar no Simple Nacional", asset_path("INFO-SIMPLESNACIONAL.pdf"), :class => "links", target: '_blank' %></li>
			<li><%= link_to "EBOOK: Guia para emitir Nota Fiscal", asset_path("GUIA_PARA_EMITIR_NOTA_FISCAL_EBOOK.pdf"), :class => "links", target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>