
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Novo Artigo</h2>
          <%= render 'form', post: @post %>
		  <br>
          <%= link_to 'Back', posts_path , class:"btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>