<div class="container-fluid">
	<div class="card mb-3">
	  <img class="card-img-top" src="https://picsum.photos/791/180/?random">
	  <div class="card-body">
	    <h5 class="card-title"><%= @post.title %></h5>
	    <p class="card-text"><%= @post.body %></p>
	    <p class="card-text"><small class="text-muted"><%= @post.keywords %></small></p>
	  </div>
	</div>
</div>


<% link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path, class: "btn btn primary" %>
