body {
  font-family: 'Raleway', sans-serif;
  background-color: #2A2B2A;
}

.container-fluid {
  padding-top: 20px;
}

.bg-grey{
  background-color: #2A2B2A;
}
.font-grey{
  a {
    color: #2A2B2A;
  }
}

.img-dark{
  background-image: linear-gradient(-370deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.85) 50%);
}

.cd-280px {
  max-width: 280px;
}

.height-250 {
  height: 250px;
}

.scroll {
  height:650px;
  overflow-y: scroll;
}